<div class="bg-light justify-content-center p-5">
    <h2 class="text-primary">チャレンジ内容</h2>
    <table class="table table-striped w-50 m-4">
        <tr><td>チャレンジャー</td><td>{{applicantName}}</td></tr>
        <tr><td>種類</td><td>{{insuranceType}}</td></tr>
        <tr><td>期限</td><td>{{deadline}}</td></tr>
    </table>
    <div class="d-flex justify-content-center m-2">
        <div class="border m-1">
            <img src="app/vote/assets/before.png" alt="以前の写真" title="以前の写真">
            <p class="text-center text-secondary pt-3">以前の写真</p>
        </div>
        <div class="border m-1">
            <img src="app/vote/assets/after.png" alt="現在の写真" title="現在の写真">
            <p class="text-center text-info pt-3">現在の写真</p>
        </div>
    </div>
    <div class="d-flex justify-content-end pt-4">
        <p>デポジット料：</p>
        <p class="font-weight-bold">{{depositFee}} ETH</p>
    </div>
    <div class="d-flex justify-content-end">
        <button type="button" class="btn btn-danger m-1">拒否</button>
        <button type="button" class="btn btn-success m-1">承認</button>
    </div>
</div>

