<div>
    <div>
        <h2>チャレンジ内容</h2>
        <ul>
            <li>被保険者の名前：{{applicantName}}</li>
            <li>保険の種類：{{insuranceType}}</li>
            <li>期限：{{deadline}}</li>
        </ul>
        <div>
            <div>
                <img src="app/vote/assets/before.png" alt="以前の写真" title="以前の写真">
                <p>以前の写真</p>
            </div>
            <div>
                <img src="app/vote/assets/after.png" alt="現在の写真" title="現在の写真">
                <p>現在の写真</p>
            </div>
        </div>
    </div>
    <div>
        <b>デポジット料</b>
        <div>
            <b>{{depositFee}} ETH</b>
        </div>
    </div>
    <div>
        <button>承認</button>
        <button>拒否</button>
    </div>
</div>

