<div class="bg-light p-5">
    <h2 class="text-primary">チャレンジリスト</h2>
    <ng-container *ngIf="insurances">
        <div *ngFor="let challenge of insurances; let i=index" class="list-group m-3 w-75">
            <a routerLink="/challenges/{{challenge.id}}/vote">
                <div class="list-group-item list-group-item-action m-1 p-3 shadow d-flex w-auto h-25 align-items-center">
                    <div class="w-50 p-3 ml-3">
                        <h5 class="p-2">チャレンジャー：{{challenge.userId || '保険太郎'}}</h5>
                        <h5 class="p-2">種類：{{challenge.name}}</h5>
                        <h5 class="p-2">保険料：{{challenge.payment}} wei</h5>
                        <h5 class="p-2">投票期限：{{challenge.finish | date}}</h5>
                    </div>
                    <img *ngIf="srces[i]" [src]="srces[i]" class="w-25 h-25">
                    <img *ngIf="srcesAfter[i]" [src]="srcesAfter[i]" class="w-25 h-25">
                </div>
            </a>
        </div>
    </ng-container>
</div>
