<div class="justify-content-center p-5">
    <div class="p-5 bg-white">
        <table class="w-100 table">
            <thead class="tab-content">
            <tr>
                <th>申請ID</th>
                <th>申請種目</th>
                <th>開始</th>
                <th>終了</th>
                <th>預託金</th>
                <th>補償額</th>
                <th>ステータス</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let insurance of insurances">
                <td>{{insurance.id}}</td>
                <td>{{insurance.name}}</td>
                <td>{{insurance.start | date}}</td>
                <td>{{insurance.finish  | date}}</td>
                <td>{{insurance.deposit}}$</td>
                <td>{{insurance.payment}}$</td>
                <td>
                    <a routerLink="/insurance/{{insurance.id}}">{{insurance.status ? 'チャレンジ中' : '保険適用中'}}</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<router-outlet></router-outlet>
